.container {
 
  text-align: center;
  padding: 20px;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajuste conforme necessário */
}

.table {
  width: 80%; /* Adjust the width as needed */
  border-collapse: collapse;
  margin-top: 20px; /* Adjust the margin as needed */
}



